<p>
    
  
    <% if(flash.success && flash.success.length > 0) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <% for (flash of flash.success) {%>
            <%= flash %> <br>
            <%}  %> 
            <a  type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </a>
          </div>
        <%}  %>  
        <% if(flash.error && flash.error.length > 0) {%>
            <div  class="alert alert-danger alert-dismissible fade show" role="alert">
              <% for (flash of flash.error) {%>
                <%= flash %> <br>
                <%}  %> 
               
                <a    type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>
            <%}  %>  
</p>
 
