<div class="social-login-item">
    <a href="/users/auth/google">
        <div class="item google">
            <div class="left  ">
                <img src="https://image.flaticon.com/icons/svg/2991/2991148.svg" alt="">
            </div>
            <div class="right ">
                <p>Sign In With Google</p>
            </div>
        </div>
    </a>
    <a href="/users/auth/facebook">
        <div class="item facebook">
            <div class="left">
                <img src="https://image.flaticon.com/icons/svg/1384/1384053.svg" alt="">
            </div>
            <div class="right ">
                <p>Sign In Facebook</p>
            </div>
        </div>
    </a>

</div>