<div class="container">
    <h2>Recover Your Account</h2>

    <%- include ('_flash_messages') %>
        <div class="form-container">
            

            <form class="forget" action="/users/recover" method="POST">
                <label for="email">Email</label>
                <input type="text" name="email">
                <button type="submit">Get Reset Code</button>
            </form>
        </div>
     

</div>