<div>

    <form action="/users/change-password/<%= user.id %> " method="POST">
        <input type="password" name="password" placeholder=" New password">
        <input type="password" name="Confirm_password" placeholder="Confirm Your New password">
        <input type="submit" value="update">

    </form>
</div>