<div class="welcome-main">
    <div class="full-screen-bg">
        <div class="overlay">
            
        </div>
        <div class="center-items">
            <div class="items">
                <h1>welcome</h1>

                <div class="link-items">
                    <a class="home-login" href="/users/login"> Login</a>
                    <a class="home-register" href="/users/register"> Register</a>
                </div>
            </div>
        </div>
    </div>
</div>